#loginform{
   margin-top: 20%;
   
}

#passSing,#userSign{
   border-radius: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 38px;
}

#submitButton{
   border-radius: 10px;
   width:100%;
   border:none;
   color:white;
   background-color: #e5446d;
   height:38px;
   
}




